{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Suggestions</h2>
        <hr class="w-50 mb-1">
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="">
        <form action="{% url 'suggestions' %}" method="POST" id="suggestion-form">
            {% csrf_token %}
            <div class="form-group col-12 text-center">
                <label for="exampleFormControlTextarea1">Write your suggestion</label>
                <textarea class="form-control" id="suggestion-form" rows="10"></textarea>
                <br>
                <br>
                <button class="btn btn-black rounded-5 text-uppercase">Submit your Suggestion</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}