/* Special Classes */
html {
    height: 100%;
}

body {
    height: calc(100vh - 200px);
    color: rgb(51, 51, 51);
    font-family: 'Rowdies',sans-serif;
}

a {
    text-decoration: none;
}

.main-page-content {
    background-color: #e9e9e9;
    min-height: 80vh;
}

.pb-20 {
    padding-bottom: 20px;
}

.box-shadow {
    box-shadow: 10px 10px 5px grey;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-banner {
    background: url(/media/big_3_banner.jpg) no-repeat center center fixed;
    display: inline-block;
    width: 100%;
    min-height: 8rem;
    padding: 8rem 0;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 5px grey;
}

.logo {
    font-family: 'Emblema One',cursive;
}
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.nav-link:hover {
    color: grey;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    align-items: center;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: white !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-black {
    border: 1px solid whtie !important;
}

.bg-black {
    background: #000 !important;
}

.anime-card {
    width: 100%;
}

.footer-bg {
    background-color: black;
    padding: 30px;
}

.socials {
    padding: 10px;
}

.socials:hover {
    color: grey;
}

.back-button{
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 260px;
    align-items: center;
}

.back-button:hover{
    background: #e9e9e9;
}

.text-info {
    color: rgb(175, 20, 20) !important;
}

.text-info:hover {
    color: rgb(185, 51, 51) !important;
}

.text-primary {
    color: rgb(175, 20, 20) !important;
}

.text-primary {
    color: rgb(185, 51, 51) !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*-- Yellow Foreground --*/
.fg-yellow {
    color: #ffcd3c;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media only screen and (min-width: 1300px)  {
    .container {
      max-width: 80%;
    }

    .anime-card:hover{
        position:absolute;
        top:-15px;
        left:-20px;
        width:500px;
        height:auto;
        display:block;
        z-index:555;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media only screen and (min-width: 800px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }

      .anime-card:hover{
        position:absolute;
        top:-5px;
        left:-10px;
        width:400px;
        height:auto;
        display:block;
        z-index:555;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .main-banner {
        background: url(/media/Big_3_Banner.jpg/) no-repeat center center fixed;
        display: inline-block;
        width: 100%;
        min-height: 15rem;
        padding: 16rem 0;
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
    }
    
  }

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    body {
        height: calc(100vh - 116px);
    }
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 767.98px) {
    .table-responsive-md {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 1399.98px) {
    .table-responsive-xxl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }