<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Apparel" id="aparel-link" aria-haspopup="true" aria-expanded="false">
                Apparel
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Figures" id="figures-link" aria-haspopup="true" aria-expanded="false">
                Figures
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Props" id="props-link" aria-haspopup="true" aria-expanded="false">
                Props
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Animes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?q=Bleach"  class="dropdown-item">Bleach</a>
                <a href="{% url 'products' %}?q=Naruto" class="dropdown-item ">Naruto</a>
                <a href="{% url 'products' %}?q=One Piece" class="dropdown-item ">One Piece</a>
            </div>
        </li>
    </ul>
</div>