<ul class="p-0 m-0 text-center">
    <li class="list-inline-item dropdown">
        <a href="{% url 'home' %}" class="nav-link main-logo-link d-block d-lg-none">
            <h2 class="logo text-black my-0 text-center"><strong> The Big 3</strong></h2>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none p-10"
            href="{% url 'view_bag' %}">
            <div class="text-center">
                <div><i class="fas fa-shopping-cart fa-lg"></i></div>
            </div>
        </a>
    </li>
</ul>