{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Product Review</h2>
        <hr class="w-50 mb-1">
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mt-5">
                <h2 class="mb-0">{{ product.name }}</h2>
            </div>
            <form class="form-user" action="{% url 'review_product' product.id %}" method="POST" id="review-edit-form">
                {% csrf_token %}
                <fieldset class="" id="review-details">
                    <!-- Product Rating -->
                    <label class="field-label pt-1">Rating*</label>
                    <div id="product-review-edit-stars" class="product-review-edit-stars pb-3"
                        data-product-rating="{{ product_review.rating }}">
                        <i id="star-1" class="fas fa-star"></i>
                        <i id="star-2" class="fas fa-star"></i>
                        <i id="star-3" class="fas fa-star"></i>
                        <i id="star-4" class="fas fa-star"></i>
                        <i id="star-5" class="fas fa-star"></i>
                    </div>
                    {{ review_form.rating.as_hidden }}
                    <!-- Product Review -->
                    {{ review_form.review | as_crispy_field }}
                </fieldset>
                <!-- Navigation Buttons -->
                <div class="row pt-1">
                    <!-- Submit Review -->
                    <div class="col-6 p-3">
                        <div class="py-2">
                            <button id="product-add-submit-button" type="submit"
                                class="btn btn-black rounded-10 text-uppercase">
                                Submit Review
                            </button>
                        </div>
                    </div>
                    <div class="col-6 p-3">
                        <div class="py-2">
                            {% if from_profile %}
                            <!-- Back To Profile -->
                            <a href="{% url 'profile' %}"
                                class="border-black btn btn-lg text-uppercase">
                                Back To Profile
                            </a>
                            {% else %}
                            <!-- Back To Product -->
                            <a href="{% url 'product_detail' product.id %}"
                                class="border-black btn btn-lg text-uppercase">
                                Back To Product
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>                  
        </div>
    </div>
</div>
{% endblock %}

{% block extrapostloadjs %}
<!-- Link to Products JavaScript -->
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}